Repository specklesystems/speckle-server, pull requests merged in 2022-10, with the labels that each got.

#1061 feat(frontend): adds missing appnames and colors
  packages/frontend/src/main/components/common/SourceAppAvatar.vue
Labels: [ frontend ]

#1116 Update SourceAppAvatar.vue
  packages/frontend/src/main/components/common/SourceAppAvatar.vue
Labels: bug, [ frontend ], papercut

#1133 Removing redundancy from filtering
  packages/viewer-sandbox/src/main.ts
  packages/viewer/src/modules/filtering/FilteringManager.ts
  packages/viewer/src/modules/tree/RenderTree.ts
Labels: [ viewer ]

#1153 fix(frontend): fix commit share btn looking off in light theme
  packages/frontend/src/main/components/stream/commit/CommitShareBtn.vue
Labels: [ frontend ]
